.pageWindow {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.pageTitle {
    margin-bottom: 30px;
    font-size: 45px;
    color: hsla(181, 67%, 31%, 1);
    text-align: center;
}